version: "3"
services:
  reverse_proxy:
    image: nginx:alpine
    container_name: reverse_proxy
    ports:
      - "8080:8080"
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./reverse-proxy/basic_auth:/etc/nginx/basic_auth:ro
  static_serving:
    image: nginx:alpine
    container_name: static_serving
    ports:
      - "8081:8080"
    volumes:
      - ./static-serving/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app-server/public:/var/www/nginx/html/public:ro
  full_cache:
    image: nginx:alpine
    container_name: full_cache
    ports:
      - "8082:8080"
    volumes:
      - ./full-cache/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app-server/public:/var/www/nginx/html/public:ro
      - ./full-cache/cache:/var/tmp/cache
  error_handling:
    image: nginx:alpine
    container_name: error_handling
    ports:
      - "8083:8080"
    volumes:
      - ./error-handling/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./error-handling/basic_auth:/etc/nginx/basic_auth:ro
  js_module:
    image: nginx:alpine
    container_name: js_module
    ports:
      - "8084:8080"
    volumes:
      - ./js-module/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./js-module/scripts:/etc/nginx/scripts:ro
  split_clients:
    image: nginx:alpine
    container_name: split_clients
    ports:
      - "8085:8080"
    volumes:
      - ./split-clients/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./split-clients/scripts:/etc/nginx/scripts:ro
